<h1>Admin Dashboard</h1>
<table class="table table-striped table-dark">
  <tbody>
    <tr>
      <td scope="row">
        <div>Number of Products</div>
      </td>
      <td>
        <div> 
          <%= @number_of_products %> 
        <div>
      </td>
    </tr>
    <tr>
      <td scope="row">
        <div>Number of Categories</div>
      </td>
      <td>
        <div> 
          <%= @number_of_categories %> 
        <div>
      </td>
    </tr>
  </tbody>
</table>